body {
  margin: 0px;
  user-select: none;
  background-color: #131316;
  height: 100%;
}
textarea:focus, input:focus{
  outline: none;
}
.topnav_close {
  z-index: 1000;
  -webkit-app-region: none;
  cursor: pointer;
  float: right;
  padding-right: 19px;
  padding-left: 18px;
  padding-top: 2px;
  transition: background-color 150ms;
}
    .topnav_close:hover {
        backdrop-filter: blur(4px);
        background-color: #ff414179;
    }
.topnav_wrap {
  z-index: 1000;
  -webkit-app-region: none;
  cursor: pointer;
  float: right;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 2px;
  transition: background-color 150ms;
}
    .topnav_wrap:hover {
        backdrop-filter: blur(4px);
        background-color: #30303875;
    }
img {
  color: white;
  height: 21px;
}
.topnav {
  z-index: 1100;
  backdrop-filter: blur(4px);
  background-color: #13131675;
  -webkit-app-region: drag;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}
.bottomnav {
  z-index: 1000;
  backdrop-filter: blur(4px);
  background-color: #13131675;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 74px;
}
.bottom_text {
  padding: 12px 28px;
  font-family: Nunito;
  color: white;
  font-size: 1.6em;
}
.bottom-buttons {
  z-index: 1000;
  font-weight: 700;
  font-size: 20px;
  border-radius: 999px;
  padding: 9px 20px;
  margin-top: 4px;
  cursor: pointer;
  transition: 150ms;
}
.bottom-buttons:hover {
  background-color: #24292c75;
  backdrop-filter: blur(50px);
}
.bottom-buttons:active {
  background-color: #1f232575;
  backdrop-filter: blur(50px);
}
.sett-active {
  background-color: #1f232575;
  backdrop-filter: blur(50px);
}
.bottom_button {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 185px;
  height: 20px;
  margin: 14px auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0;
  font-family: Nunito;
  color: white;
  font-weight: 700;
  font-size: 20px;
  background-color: #326cc4;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 150ms;
}
  .bottom_button:hover {
        background-color: #27569b;
    }
  .bottom_button:active {
      background-color: #204883;
  }

iframe {
  height: 100%;
  width: 100%;
  border:none;
  }
.maincontent {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
  font-family: Nunito;
  font-size: 4em;
}
.slidecontainer {
  padding-bottom: 6px;
  backdrop-filter: blur(50px);
  background-color: #2b313575;
  border-radius: 9999px; 
  margin: 0 auto;
  width: 95%;
  height: 40px;
}
.slider {
  float: right;
  -webkit-appearance: none;
  width: 40%;
  margin-right: 40px;
  margin-top: 15px;
  height: 15px;
  border-radius: 10px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .150s;
  transition: opacity .150s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #326cc4;
  cursor: pointer;
}
.ramValue {
  float: right;
  margin-right: 35px;
  width: 130px;
}
.settingsTitle {
  color: white;
  font-family: Nunito;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  border-radius: 9999px;
  padding: 10px 0px;
}
.settingsBar {
  backdrop-filter: blur(50px);
  background-color: #212529c2;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
}
.settingsButton {
  z-index: 1000;
  cursor: pointer;
  transition: background-color 150ms;
}
  .settingsButton:hover {
    background-color: #2a3035a4;
    backdrop-filter: blur(50px);
  }
  .settingsButton:active {
    background-color: #30373da4;
    backdrop-filter: blur(50px);
  }
  .progress-bar {
    border-radius: 60px;
    overflow: hidden;
    width: 100%;
  }
  .progress-bar span {
    display: block;
  }
  .progress {
    transition:300ms linear;
    background: #00b089;
    color: #fff;
    padding: 2px 0px;
    width: 0%;
  }
  .progress-bar {
    left: 50%;
    max-width: 100%;
    position: absolute;
    bottom: -2px;
    transform: translate3d(-50%, -50%, 0);
  }
.dot1 {
  position: absolute;
  height: 400px;
  width: 400px;
  margin-left: -200px;
  background-color: #005983;
  border-radius: 50%;
  animation: bgMove 20s ease-in-out -3s infinite alternate,
  bgOpacity 8s ease-in-out -8s infinite alternate;
}
.dot2 {
  position: absolute;
  height: 400px;
  width: 400px;
  margin-left: -200px;
  background-color: #003686;
  border-radius: 50%;
  animation: bgMove 20s ease-in-out -17s infinite alternate,
  bgOpacity 8s ease-in-out 0s infinite alternate;
}
.dot3 {
  position: absolute;
  height: 400px;
  width: 400px;
  margin-left: -200px;
  background-color: #00795e;
  border-radius: 50%;
  animation: bgMove 20s ease-in-out -14s infinite alternate,
  bgOpacity 8s ease-in-out -4s infinite alternate;
}
.dots-container {
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 50%;
}
@keyframes bgMove {
  0% {
      transform: translate(-150px) scale(0.8);
  }
  25% {
      transform: translateY(150px) scale(1);
  }
  50% {
      transform: translate(150px) scale(1.2);
  }
  75% {
      transform: translateY(-150px) scale(1);
  }
  100% {
      transform: translate(-150px) scale(0.8);
  }
}
@keyframes bgOpacity {
  0% {
      opacity: 0.2;
  }
  100% {
      opacity: 0.5;
  }
}
.main-container-backdrop {
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(65px);
  width: 100vw;
  height: 650px;
  top: 0;
}
.backdrop {
  position: absolute;
  z-index: 1001;
  transition: all 500ms;
  width: 100vw;
  height: 650px;
  top: 0;
  backdrop-filter: brightness(100%);
}
.darkenBG {
  backdrop-filter: brightness(70%);
}